<!doctype html>
<html lang="en">
<head>
<title>Pycone松果城市</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <meta name="description" content="Pycone提供最完整的pyhton線上課程">
    <meta name="keywords" content="Pycone,pycone,松果城市,松果程式,python課程,python教學,python blog,程式教學,線上教學,線上課程,django,網站後台,機器學習,網頁爬蟲,自然語言處理,資料分析,資料科學,教學">
    <meta name="author" content="Hubert">

    <!-- Open graph markup --> 
    <meta property="og:url" content="http://www.pycone.com/blogs/python-data-science-tutorial-1" />
    <meta property="og:type" content="article" />
    <meta property="og:title"  content="最有趣的Python資料科學教學" />
    <meta property="og:description" content="給初學者的 Python 網頁爬蟲與資料分析" />
    <meta property="og:image" content="http://www.pycone.com/static/images/python_crawler.png" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />

    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/material-kit.css" rel="stylesheet"/>

    <!-- highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/github-gist.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body class="blog-post">
    <nav class="navbar navbar-danger navbar-transparent navbar-absolute">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Pycone松果城市</a>
            </div>
            <!-- material-icons https://design.google.com/icons/#ic_android -->
            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/courses">
                            <i class="material-icons">assignment</i> 課程
                        </a>
                    </li>

                    <li>
                        <a href="/blogs">
                            <i class="material-icons">pets</i>
                            部落格
                        </a>
                    </li>

                    <li>
                        <a href="/qa">
                            <i class="material-icons">question_answer</i>
                            問與答
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="active" style="background-image: url('../static/images/165HH.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">最有趣的Python資料科學教學</h1>
                    <h4>一起來學習Python網頁爬蟲入門實戰!</h4>
                    <a href="https://hahow.in/cr/python-web-crawler" target="_blank" class="btn btn-info btn-raised btn-lg">
                        <i class="fa fa-rocket"></i> 立即加入課程募資!
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="section section-text">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">給初學者的 Python 網頁爬蟲與資料分析 (5) 資料分析及展示</h2>
                        <p>
                            <a href="https://gist.github.com/jwlin/a52feae3d1d9d4032bdaf412ff0488eb"> 本文範例程式</a>, <a href="https://gist.github.com/jwlin/64921301cdc9d6084cf800b1e00dfcf3"> example.json</a>
                        </p>
                        <p>這篇文章會示範簡單的統計分析 (平均值與相關係數) 與資料視覺化 (histogram 與 scatter plot)，最後會淺談資料科學的三個面向作為本系列文章總結。</p>
                        <p>藉由之前的範例程式，我們已經有了今天 PTT Beauty 板所有貼文的一些資訊。假設我們想進一步認識或分析手上的數據，或對資料維度的相關性作些假設，就需要統計分析與視覺化的幫助。例如我們對貼圖數與推文數有興趣，且假設「文章內有越多貼圖會得到越多推」，第一步先將資料從 example.json 讀入之後，馬上就能得知它們的極值：</p>
                        <script src="https://gist.github.com/behappycc/44112d74a2ed9c69491ca2e101cc0f83.js"></script>
                        <h3>平均值與相關係數</h3>
                        <p>有了原始資料的 list, 平均值的計算也很容易，</p>
                        <p></p>
                        <script src="https://gist.github.com/behappycc/2b7be0b745c6c33147ee05fe8e8f5245.js"></script>
                        <p>接著我們想知道是否「文章內有越多貼圖會得到越多推」，一個方式是計算相關係數，相關係數是共變異數 (covariance) 除以標準差 (standard deviation) 的乘積，公式可參考<a href="https://en.wikipedia.org/wiki/Pearson_product-moment_correlation_coefficient#For_a_population"> 此處</a>。因此，除了平均值之外，我們還需要計算偏差值 (deviation), 變異數 (variance) 與內積 (dot) 的函式</p>
                        <script src="https://gist.github.com/behappycc/2e6769b668ba60aa11409a4bbf15106f.js"></script>
                        <p>有了相關函式後，相關係數可依公式計算</p>
                        <script src="https://gist.github.com/behappycc/059f3dd25baac370d5ea3badb7b68d2d.js"></script>
                        <p>相關係數是 -1 到 1 之間的值，越接近 1 代表兩個維度越接近線性正相關，反之則為線性負相關。這個例子中的 0.5258 代表一定程度的正相關，看到這邊你一定有疑問：推文數怎麼可能被貼圖數決定？難道我貼一堆海綿寶寶圖也會被推爆嗎？當然不可能，而這個例子也引出了你可能聽過的說法：<mark>相關不代表因果 (correlation is not causation)</mark>。事實上，我們解讀相關係數時必須多方考慮，如果 x 與 y 高度正相關，可能代表：</p>
                        <ul>
                            <li>x 導致 y</li>
                            <li>y 導致 x</li>
                            <li>x, y 互為因果</li>
                            <li>另有他因 z 導致 x, y (例如高 GDP 同時導致高平均壽命與高基礎網路頻寬，平均壽命與基礎網路頻寬並沒有因果關係)</li>
                            <li>x, y 根本無關，只是巧合 (例如一個地區的手機銷售量與律師人數?)</li>
                        </ul>
                        <h2>資料視覺化</h2>
                        <p>除了直接計算統計數據，將資料視覺化也是幫助我們認識資料的好辦法，例如我想知道推文數的分布，可以試著畫出 histogram, 把小於 10 推, 20 推, 30 推的文章數量以條狀圖顯示</p>
                        <script src="https://gist.github.com/behappycc/1ca810370eb8e8c33a39a0b0aacf7d32.js"></script>
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161231-python-ds-tutorial-5-1.png">
                        <br/>
                        <p>另外，也可以考慮直接畫出資料的散佈圖 (scatter plot)，觀察相關性</p>
                        <script src="https://gist.github.com/behappycc/3f790061a26175a8c7092872cbdec491.js"></script>
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161231-python-ds-tutorial-5-2.png">
                        <br/>
                        <p>從 scatter plot 我們可以稍微看出圖片數與推文數的正相關性</p>
                        <h3>結語：資料科學的三個面向</h3>
                        <p>從這系列的文章，相信你已經看出所謂的資料科學與資料分析，其實可概分為三個面向：</p>
                        <ul>
                            <li>資料處理，寫程式，架系統，對應資料的來源、儲存、處理、查詢等</li>
                            <li>統計分析，數學，各種機器學習模型與技巧</li>
                            <li>Domain knowledge，也就是到底要對著資料問什麼問題</li>
                        </ul>
                        <p>所以如果你對資料科學有興趣，你可能是對架構系統有興趣(提供乾淨資料)，或對於玩資料有興趣(喜歡統計分析，精通機器學習，或是有足夠的領域知識發掘好問題)，也可以思考以你的背景從哪一塊切入會比較適合。</p>

                        <blockquote>
                            <p>
                                “Happy coding.”
                            </p>
                            <p>
                                文章也同步刊登在<a href="http://blog.castman.net/%E6%95%99%E5%AD%B8/2016/12/31/python-data-science-tutorial-5.html"> Jun-Wei Lin blogs</a>
                            </p>
                        </blockquote>        
                </div>
            </div>

            <div class="section section-blog-info">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="blog-tags">
                                    Author: Jun-Wei Lin
                                    <br/><br/>
                                    Tags:
                                    <span class="label label-primary">Python</span>
                                    <span class="label label-primary">網頁爬蟲</span>
                                    <span class="label label-primary">資料分析</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="https://www.facebook.com/pycone2016/" class="btn btn-facebook btn-round pull-right">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </div>
                        </div>

                        <hr/>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-center">其他文章</h2>
                    <br />
                    <div class="row">
                    <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="../static/images/python_crawler.png" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-muted">
                                        資料科學
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">給初學者的 Python 網頁爬蟲與資料分析</a>
                                    </h4>
                                    <p class="card-description">
                                         (4) 擷取資料及下載圖片<a href="/blogs/python-data-science-tutorial-4"> <br/>Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <!--
                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="../static/images/python-for-beginners.png" />
                                    </a>
                                </div>

                                <div class="content">
                                    <h6 class="category text-info">開發環境設定</h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Windows使用者</a>
                                    </h4>
                                    <p class="card-description">
                                        在Windows環境下安裝Python與Sublime Text3<a href="/blogs/win-python-environment"> <br/>Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="../static/images/python-for-beginners.png" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-success">
                                        開發環境設定
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Linux使用者</a>
                                    </h4>
                                    <p class="card-description">
                                        在Linux環境下安裝Python與Sublime Text3<a href="/blogs/linux-python-environment"> <br/>Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="">
                            Pycone
                        </a>
                    </li>
                    <li>
                        <a href="">
                            關於我們
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; <script>document.write(new Date().getFullYear())</script> Pycone
            </div>
        </div>
    </footer>

    <!--   Core JS Files   -->
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/js/material.min.js"></script>

    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../static/js/nouislider.min.js" type="text/javascript"></script>

    <!--    Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="../static/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!--    Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
    <script src="../static/js/jquery.dropdown.js" type="text/javascript"></script>

    <!--    Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="../static/js/jquery.tagsinput.js"></script>

    <!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../static/js/jasny-bootstrap.min.js"></script>

    <!-- Plugin For Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="../static/js/material-kit.js" type="text/javascript"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83054846-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
