<!doctype html>
<html lang="en">
<head>
<title>Pycone松果城市</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <meta name="description" content="Pycone提供最完整的pyhton線上課程">
    <meta name="keywords" content="Pycone,pycone,松果城市,松果程式,python課程,python教學,python blog,程式教學,線上教學,線上課程,django,網站後台,機器學習,網頁爬蟲,自然語言處理,資料分析,資料科學,教學">
    <meta name="author" content="Hubert">

    <!-- Open graph markup --> 
    <meta property="og:url" content="http://www.pycone.com/blogs/python-data-science-tutorial-1" />
    <meta property="og:type" content="article" />
    <meta property="og:title"  content="最有趣的Python資料科學教學" />
    <meta property="og:description" content="給初學者的 Python 網頁爬蟲與資料分析" />
    <meta property="og:image" content="http://www.pycone.com/static/images/python_crawler.png" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />

    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/material-kit.css" rel="stylesheet"/>

    <!-- highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/github-gist.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body class="blog-post">
    <nav class="navbar navbar-danger navbar-transparent navbar-absolute">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Pycone松果城市</a>
            </div>
            <!-- material-icons https://design.google.com/icons/#ic_android -->
            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/courses">
                            <i class="material-icons">assignment</i> 課程
                        </a>
                    </li>

                    <li>
                        <a href="/blogs">
                            <i class="material-icons">pets</i>
                            部落格
                        </a>
                    </li>

                    <li>
                        <a href="/qa">
                            <i class="material-icons">question_answer</i>
                            問與答
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="active" style="background-image: url('../static/images/165HH.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">最有趣的Python資料科學教學</h1>
                    <h4>一起來學習Python吧!</h4>
                    <a href="https://hahow.in/cr/python-for-beginners" target="_blank" class="btn btn-info btn-raised btn-lg">
                        <i class="fa fa-rocket"></i> 立即加入課程!
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="section section-text">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">給初學者的 Python 網頁爬蟲與資料分析 (3) 解構並擷取網頁資料</h2>
                        <p>
                            本節<a href="https://gist.github.com/jwlin/b8d7819cf538697ac91e715e9260f566"> beautifulsoup 範例程式</a>, <a href="https://gist.github.com/jwlin/05cc0bac694784807c714eaaa25b1212"> Beauty 板爬蟲範例程式</a>
                        </p>
                        <h3>網頁 = 由標籤 (tag) 所組成的階層式文件</h3>
                        <p>你在瀏覽器看到的美觀網頁，主要由三個部分構成: HTML (網頁的骨架結構)、CSS (網頁的樣式) 與 JavaScript (在瀏覽器端執行，負責與使用者互動的程式功能)。對於網頁或爬蟲的初學者來說，最重要的觀念是了解：網頁就是由各式標籤 (tag) 所組成的階層式文件，要取得所需的網頁區塊資料，只要用 tag 與相關屬性去定位資料所在位置即可。例如以下是一個簡單的網頁及其原始碼：
                        <br/><br/>
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161222-python-ds-tutorial-3-1.png">
                        <br/>
                        <script src="https://gist.github.com/behappycc/f55b7993510f5fda98fae247ae46114b.js"></script>
                        <p>HTML 文件內不同的標籤 (例如 &lt;title&gt;, &lt;h1&gt;, &lt;p&gt;, &lt;a&gt; 有著不同的語義，表示建構網頁用的不同元件，且標籤可以有各種屬性 (例如 id, class, style 等通用屬性, 或 href 等專屬屬性)，因此我們可以用標籤 + 屬性去定位資料所在的區塊並取得資料。關於網頁架構還有另外一件事，就是它是階層式文件，例如以上的網頁架構可以如下表示</p>
                        <br/>
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161222-python-ds-tutorial-3-2.png">
                        <br/>
                        <p>雖然在我們的範例中不會用階層結構去定位資料區塊，但知道這件事有助於你閱讀及理解網頁文件。</p>
                        <h3>BeautifulSoup 入門</h3>
                        <p>BeautifulSoup 是好學易用，用來解構並擷取網頁資訊的 Python 函式庫。給定以上的網頁文件，</p>
                        <script src="https://gist.github.com/behappycc/f55b7993510f5fda98fae247ae46114b.js"></script>
                        <p>先創建一個 BeautifulSoup 物件，將網頁讀入</p>
                        <script src="https://gist.github.com/behappycc/5469c6efaf49699a4536d713574b7a62.js"></script>
                        <p>接著就可以用 <mark>find()</mark>, <mark>find_all()</mark> 搭配 tag 名稱及屬性去定位資料區塊</p>
                        <script src="https://gist.github.com/behappycc/a3557f09865dc2f4381197baa8145f80.js"></script>
                        <p><mark>find()</mark> 只回傳第一個找到的區塊，而 <mark>find_all()</mark> 會回傳一個 list, 包含所有符合條件的區塊。傳入的引數第一個通常是 tag 名稱，第二個引數若未指明屬性就代表 class 名稱，也可以直接使用 id 等屬性去定位區塊。定位到區塊後，可以取出其屬性與包含的字串值</p>
                        <script src="https://gist.github.com/behappycc/e0f0a67967fc33c67be6633e6c8499f1.js"></script>
                        <p>如果你要取得的屬性不存在，直接使用屬性名稱會出現錯誤訊息，因此若你不確定屬性是否存在，可以改用 <mark>get()</mark> 方法</p>
                        <script src="https://gist.github.com/behappycc/5dd7d02d3d4016e84066eba17e1ef75e.js"></script>
                        <p>
                            其他詳細用法可參考<a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/"> BeautifulSoup 的官方文件</a>
                        </p>

                        <h3>使用 Chrome 的開發者工具找到資料區塊的 tag 及屬性</h3>
                        <p>假設你有一個想爬的網頁，要怎麼知道資料區塊所在的標籤及屬性呢？在此我們使用 Chrome 的開發者工具，以 Ptt Web 版 Beauty 板首頁為例，用 Chrome 連上 <a href="https://www.ptt.cc/bbs/Beauty/index.html"> https://www.ptt.cc/bbs/Beauty/index.html</a>, 接著按下 F12 或從選單啟動開發者工具</p>
                        <br/>
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161222-python-ds-tutorial-3-3.png">
                        <br/>
                        <p>下方會跑出開發者工具的操作區，點選左上角的箭頭按鈕後，再點擊網頁上你想要定位的資料區塊，該區塊的 HTML 碼就會顯示在下方。當然你也可以直接檢視網頁原始碼或檢視上一篇教學中用 <mark>get_web_page()</mark> 所取得的網頁文件，但善用開發者工具可以加速你的搜尋。</p>
                        <br/>
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161222-python-ds-tutorial-3-4.png">
                        <br/>
                        <br/>
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161222-python-ds-tutorial-3-5.png">
                        <br/>
                        <h3>PTT Beauty 板範例實戰</h3>
                        <p>檢視網頁原始碼後我們知道，網頁上的每一篇貼文都是由 &lt;div class="r-ent"&gt; 的區塊包圍起來，裡面分別由 &lt;div class="nrec"&gt; 區塊顯示推文數，&lt;div class="title"&gt; 區塊及 &lt;a&gt; 區塊顯示文章連結及文章標題，&lt;div class="date"&gt; 區塊顯示發文日期</p>
                        <br/>
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161220-python-ds-tutorial-2-2.png">
                        <br/>
                        <p>因此，若已經取得網頁文件，我們可以用 <mark>find_all()</mark> 找出所有&lt;div class="r-ent"&gt; 區塊，並逐一巡訪，取得資料：</p>
                        <script src="https://gist.github.com/behappycc/88a1a70bf1946e6067e07f258006db91.js"></script>
                        <p>使用 <mark>get_articles()</mark> 及上一篇教學的 <mark>get_web_page()</mark>，取得今日文章資訊</p>
                        <script src="https://gist.github.com/behappycc/142109753eecebba21d4b899c8ca8ed9.js"></script>
                        <p>這樣就取得今天全部的 Beauty 板文章了嗎？聰明的你一定想到了：如果不只首頁，前一頁還有今天的文章怎麼辦？這就留給各位自行練習了 (提示：找到前一頁的連結，連線並取得該頁資料後，一樣用 <mark>get_articles</mark> 爬取文章資料)，我們會在教學結束後的範例提供完整程式碼。下一篇文章會說明如何連結到 current_articles 內的文章，抓圖並計算每一篇文章的貼圖數。</p>
                        <blockquote>
                            <p>
                                “Happy coding.”
                            </p>
                            <p>
                                文章也同步刊登在<a href="http://blog.castman.net/%E6%95%99%E5%AD%B8/2016/12/20/python-data-science-tutorial-2.html"> Jun-Wei Lin blogs</a>
                            </p>
                        </blockquote>        
                </div>
            </div>

            <div class="section section-blog-info">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="blog-tags">
                                    Author: Jun-Wei Lin
                                    <br/><br/>
                                    Tags:
                                    <span class="label label-primary">Python</span>
                                    <span class="label label-primary">網頁爬蟲</span>
                                    <span class="label label-primary">資料分析</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="https://www.facebook.com/pycone2016/" class="btn btn-facebook btn-round pull-right">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </div>
                        </div>

                        <hr/>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-center">其他文章</h2>
                    <br />
                    <div class="row">
                    <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="../static/images/python_crawler.png" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-muted">
                                        資料科學
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">給初學者的 Python 網頁爬蟲與資料分析</a>
                                    </h4>
                                    <p class="card-description">
                                         (2) 套件安裝與啟動網頁爬蟲<a href="/blogs/python-data-science-tutorial-2"> <br/>Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <!--
                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="../static/images/python-for-beginners.png" />
                                    </a>
                                </div>

                                <div class="content">
                                    <h6 class="category text-info">開發環境設定</h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Windows使用者</a>
                                    </h4>
                                    <p class="card-description">
                                        在Windows環境下安裝Python與Sublime Text3<a href="/blogs/win-python-environment"> <br/>Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="../static/images/python-for-beginners.png" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-success">
                                        開發環境設定
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Linux使用者</a>
                                    </h4>
                                    <p class="card-description">
                                        在Linux環境下安裝Python與Sublime Text3<a href="/blogs/linux-python-environment"> <br/>Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="">
                            Pycone
                        </a>
                    </li>
                    <li>
                        <a href="">
                            關於我們
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; <script>document.write(new Date().getFullYear())</script> Pycone
            </div>
        </div>
    </footer>

    <!--   Core JS Files   -->
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/js/material.min.js"></script>

    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../static/js/nouislider.min.js" type="text/javascript"></script>

    <!--    Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="../static/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!--    Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
    <script src="../static/js/jquery.dropdown.js" type="text/javascript"></script>

    <!--    Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="../static/js/jquery.tagsinput.js"></script>

    <!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../static/js/jasny-bootstrap.min.js"></script>

    <!-- Plugin For Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="../static/js/material-kit.js" type="text/javascript"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83054846-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
