<!doctype html>
<html lang="en">
<head>
<title>Pycone松果城市</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <meta name="description" content="Pycone提供最完整的pyhton線上課程">
    <meta name="keywords" content="Pycone,pycone,松果城市,松果程式,python課程,python教學,python blog,程式教學,線上教學,線上課程,django,網站後台,機器學習,網頁爬蟲,自然語言處理,資料分析,資料科學,教學">
    <meta name="author" content="Hubert">

    <!-- Open graph markup --> 
    <meta property="og:url" content="http://www.pycone.com/blogs/python-data-science-tutorial-1" />
    <meta property="og:type" content="article" />
    <meta property="og:title"  content="最有趣的Python資料科學教學" />
    <meta property="og:description" content="給初學者的 Python 網頁爬蟲與資料分析" />
    <meta property="og:image" content="http://www.pycone.com/static/images/python_crawler.png" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />

    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/material-kit.css" rel="stylesheet"/>

</head>

<body class="blog-post">
    <nav class="navbar navbar-danger navbar-transparent navbar-absolute">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Pycone松果城市</a>
            </div>
            <!-- material-icons https://design.google.com/icons/#ic_android -->
            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/courses">
                            <i class="material-icons">assignment</i> 課程
                        </a>
                    </li>

                    <li>
                        <a href="/blogs">
                            <i class="material-icons">pets</i>
                            部落格
                        </a>
                    </li>

                    <li>
                        <a href="/qa">
                            <i class="material-icons">question_answer</i>
                            問與答
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="active" style="background-image: url('../static/images/165HH.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">最有趣的Python資料科學教學</h1>
                    <h4>一起來學習Python吧!</h4>
                    <a href="https://hahow.in/cr/python-for-beginners" target="_blank" class="btn btn-info btn-raised btn-lg">
                        <i class="fa fa-rocket"></i> 立即加入課程!
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="section section-text">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">給初學者的 Python 網頁爬蟲與資料分析 (1) 前言</h2>
                        <h3>前言</h3>
                        <p>這系列文章是給初學者的網頁爬蟲與資料分析教學，如果你對於 Python 有粗淺認識 (知道 Python 的資料型態, 控制結構, 寫過一些小程式), 想進一步知道要怎麼使用 Python 擷取網頁資訊並簡單做些資料分析 (如圖表、統計資料、相關性等)，這系列文章可以帶你入門。一般想要寫網頁爬蟲的人，不會只想要擷取資料，他們真正想要的通常是資料分析，找出資料能提供的資訊，或使用資料驗證自己的假設，Python 也有許多資料處理與展示的好用套件可以使用 (如 NumPy, scikit-learn, pandas)，這系列文章會先略過這些套件，教你直接用程式計算統計資料與畫圖，以便讓你更了解套件底層的邏輯，之後學習這些套件時會更容易上手。
                        <br/><br/>
                        <h3>步驟拆解</h3>
                        <p>網頁爬蟲與資料分析可以分成以下步驟:</p>
                        <ol>
                            <li>資料來源: 資料來源可以是別人整理好的資料(如政府 open data, 整理好的 csv 或 json 等文字檔), 也可以是自行從公開網頁擷取的資料 (本文會使用 PTT 網站作為範例)</li>
                            <li>啟動爬蟲: 如果資料不是整理好的，而是必須從公開網頁爬取，就必須利用程式與網站 server 連線取得網頁資訊 (本文會示範用 request 套件與 PTT 網站溝通)</li>
                            <li>資料擷取與資料淨化: 從公開網頁爬取的整個頁面，通常只有一部分是你需要的，因此要利用程式解構網頁架構，取得所需資料 (本文使用 BeautifulSoup 套件解構網頁文件，擷取所需資料); 另外，在擷取過程中或擷取後，資料通常會有些雜訊 (例如錯誤的時間格式, 英文數字混雜等)，此時也要利用程式做資料淨化以便後續分析 (本文會示範利用簡單的正規表示式 regular expression 做資料過濾與淨化)</li>
                            <li>資料分析: 爬蟲把 raw data 爬下來之後, 你可能會想要分析資料，例如跑些統計資訊或檢查資料維度間的相關性，驗證你的假設 (本文會示範計算文章內圖片數量與推文數的相關係數)</li>
                            <li>資料展示: 用圖表、網頁等展示資料 (本文會示範將 PTT Beauty 版文章內的圖片存到本機端，並畫出文章內圖片數量與推文數的分佈圖)</li>
                        </ol>
                        <br/><br/>
                        <h3>範例程式: PTT Beauty 板今日圖片下載器</h3>
                        <p>本文會教你實作一個簡單的圖片下載器，它會連上 PTT Web 版的表特板首頁，然後把今天所有文章內含的圖片下載到本機端，同時儲存各文章的標題、推文數、內含圖片數，以便後續資料分析。我們會計算圖片數與推文數的相關係數(是否張貼越多圖片的文章會得到越多推？)，並畫出資料分布圖。在過程中你會學到如何用 Python 連線到網站，如何解構網頁文件並擷取、儲存資料，以及資料分析與展示的基本技巧。範例成果如下：</p>
                    </div>

                    <div class="section col-md-10 col-md-offset-1">
                        <div class="col-md-12">
                            <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161219-python-ds-tutorial-1-1.png">
                        </div>
                    </div>

                    <div class="section col-md-10 col-md-offset-1">
                        <div class="col-md-12">
                            <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161219-python-ds-tutorial-1-2.png">
                        </div>
                    </div>

                    <div class="section col-md-10 col-md-offset-1">
                        <div class="col-md-12">
                            <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161219-python-ds-tutorial-1-3.png">
                        </div>
                    </div>

                    <div class="section col-md-10 col-md-offset-1">
                        <div class="col-md-12">
                            <script src="https://gist.github.com/behappycc/6d74e34d40436880eff540afca801c4e.js"></script>
                        </div>
                    </div>

                    <div class="section col-md-10 col-md-offset-1">
                        <div class="col-md-12">
                            <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161219-python-ds-tutorial-1-4.png">
                        </div>
                    </div>

                    <div class="col-md-8 col-md-offset-2">
                        <p>
                            網頁爬蟲與資料分析可以分成以下步驟, 1. 資料來源, 2. 啟動爬蟲, 3. 資料擷取與資料淨化, 4. 資料分析, 5. 資料展示
                        </p>
                        <blockquote>
                            <p>
                                “Happy coding.”
                            </p>
                            <p>
                                文章也同步刊登在<a href="http://blog.castman.net/%E6%95%99%E5%AD%B8/2016/12/19/python-data-science-tutorial-1.html"> Jun-Wei Lin blogs</a>
                            </p>
                        </blockquote>
                    </div>          
                </div>
            </div>

            <div class="section section-blog-info">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="blog-tags">
                                    Author: Jun-Wei Lin
                                    <br/><br/>
                                    Tags:
                                    <span class="label label-primary">Python</span>
                                    <span class="label label-primary">網頁爬蟲</span>
                                    <span class="label label-primary">資料分析</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="https://www.facebook.com/pycone2016/" class="btn btn-facebook btn-round pull-right">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </div>
                        </div>

                        <hr/>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-center">其他文章</h2>
                    <br />
                    <div class="row">
                    <!--
                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="../static/images/python-for-beginners.png" />
                                    </a>
                                </div>

                                <div class="content">
                                    <h6 class="category text-info">開發環境設定</h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Windows使用者</a>
                                    </h4>
                                    <p class="card-description">
                                        在Windows環境下安裝Python與Sublime Text3<a href="/blogs/win-python-environment"> <br/>Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="../static/images/python-for-beginners.png" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-success">
                                        開發環境設定
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Linux使用者</a>
                                    </h4>
                                    <p class="card-description">
                                        在Linux環境下安裝Python與Sublime Text3<a href="/blogs/linux-python-environment"> <br/>Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="">
                            Pycone
                        </a>
                    </li>
                    <li>
                        <a href="">
                            關於我們
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; <script>document.write(new Date().getFullYear())</script> Pycone
            </div>
        </div>
    </footer>

    <!--   Core JS Files   -->
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/js/material.min.js"></script>

    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../static/js/nouislider.min.js" type="text/javascript"></script>

    <!--    Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="../static/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!--    Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
    <script src="../static/js/jquery.dropdown.js" type="text/javascript"></script>

    <!--    Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="../static/js/jquery.tagsinput.js"></script>

    <!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../static/js/jasny-bootstrap.min.js"></script>

    <!-- Plugin For Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="../static/js/material-kit.js" type="text/javascript"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83054846-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
