<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Pycone松果城市</title>

    <!-- Open graph markup --> 
    <meta property="og:url" content="http://www.pycone.com/courses/python_for_beginners" />
    <meta property="og:type" content="article" />
    <meta property="og:title"  content="最有趣的Python線上課程" />
    <meta property="og:description" content="初心者 - python入門" />
    <meta property="og:image" content="http://www.pycone.com/static/images/python_for_beginners.png" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />

    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/material-kit.css" rel="stylesheet"/>

</head>
<body>
    <nav class="navbar navbar-danger navbar-transparent navbar-absolute">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Pycone松果城市</a>
            </div>
            <!-- material-icons https://design.google.com/icons/#ic_android -->
            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/courses">
                            <i class="material-icons">assignment</i> 課程
                        </a>
                    </li>

                    <li>
                        <a href="/qa">
                            <i class="material-icons">question_answer</i>
                            問與答
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="page-header header-filter" data-parallax="active" style="background-image: url('../static/images/card-project1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">最有趣的Python線上課程</h1>
                    <h4>一起來學習Python吧!</h4>
                    <a href="" target="_blank" class="btn btn-info btn-raised btn-lg">
                        <i class="fa fa-rocket"></i> 立即加入課程募資!
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <!-- Python for beginners -->
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">初心者 - Python入門</h2>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <h3>課程簡介</h3>
                    <p>Python是非常強的的程式語言，簡潔友好的語法特別容易上手，又有許多第三方函式庫的支援。Python是完全物件導向的語言，有益於減少程式碼的重複性。Python的設計哲學是優雅、明確、簡單。Python的設計風格，使其成為易讀、易維護且具有廣泛用途的程式語言。Python的應用範圍相當廣泛，例如web後端開發、機器學習、資料分析、自然語言處理、網頁爬蟲與遊戲等等。如果自己常常翻閱書籍卻無法掌握重點，上網收集資料卻覺得太過片段，想要自己動手寫寫看，卻不知道如何開始。這們課會從最基本的環境架設開始教起，讓所有同學都可以深入淺出一窺Python的奧妙，更透過實務專題練習的方式，使學生可以應用課堂所學來完成一個Python軟體。</p>

                    <h3>從Python開始</h3>
                    <p>如果大家覺得可以利用軟體解決問題、改變世界，那就先從學習Python開始吧! 學習Python後可以將其應用在多種不同的領域，並藉由第三方函式庫快速開發自己的軟體。例如想要撰寫一個網站的話可以利用Python + Django，如果想做機器學習相關研究可以利用Python + scikit-learn，而如果想要做資料分析系統則可以利用Python + pandas，如果想利用自然語言處理來開發bot可以使用Python + NLTK，如果想要寫網頁爬蟲可以利用Python + scrapy。所以如果懂得Python，大家就可以盡情地揮灑自己的創意，創造屬於自己的應用。</p>

                    <h3>課程目標</h3>
                    <p>這門課會讓你了解，如何使用Python來實現你的想法。課程中會透過範例程式，讓同學可以輕易了解內容，課程中所有程式碼會放在github上讓大家觀看，透過閱讀程式碼可以大大提升同學的程式撰寫能力。在實務專題中，讓大家利用Python解決現實生活中的問題。希望學生可以透過所學習到的東西，再加上自我學習，開發出更棒的軟體。</p>

                    <div class="row">
                            <div class="col-md-12">
                                <h3>課程單元</h3>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                            <h4><small>課程時間預估約240分鐘</small></h4>
                                <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>單元</th>
                                            <th>單元內容</th>
                                            <th>時間</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Ch1</td>
                                            <td>Python可以做什麼</td>
                                            <td>10分鐘</td>
                                        </tr>
                                        <tr>
                                            <td>Ch2</td>
                                            <td>開發環境安裝/td>
                                            <td>20分鐘</td>
                                        </tr>
                                        <tr>
                                            <td>Ch3</td>
                                            <td>資料型態</td>
                                            <td>20分鐘</td>
                                        </tr>
                                        <tr>
                                            <td>Ch4</td>
                                            <td>資料結構</td>
                                            <td>20分鐘</td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ch5</td>
                                            <td>控制結構</td>
                                            <td>20分鐘</td>
                                        </tr>
                                        <tr>
                                            <td>Ch6</td>
                                            <td>函式</td>
                                            <td>20分鐘</td>
                                        </tr>
                                        <tr>
                                            <td>Ch7</td>
                                            <td>模組</td>
                                            <td>20分鐘</td>
                                        </tr>
                                        <tr>
                                            <td>Ch8</td>
                                            <td>物件導向</td>
                                            <td>30分鐘</td>
                                        </tr>
                                        <tr>
                                            <td>Ch9</td>
                                            <td>檔案處理</td>
                                            <td>20分鐘</td>
                                        </tr>
                                        <tr>
                                            <td>Ch10</td>
                                            <td>例外</td>
                                            <td>20分鐘</td>
                                        </tr>
                                        <tr>
                                            <td>Ch11</td>
                                            <td>測試</td>
                                            <td>20分鐘</td>
                                        </tr>
                                        <tr>
                                            <td>Ch12</td>
                                            <td>實務專題</td>
                                            <td>20分鐘</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                    <hr>
                </div>        
            </div>
            <h3>課前資訊</h3>
            <h4>1. &nbsp需要準備的工具/軟體</h4>
            <p>一台電腦，Sublime Text編輯器</p>
            <h4>2. &nbsp需要具備的背景知識</h4>
            <p>這堂課不需要任何背景知識，老師會帶領學生從基礎開始</p>
            <h4>3. &nbsp上完課後，學生可以學到並做出的東西</h4>
            <p>學生上完課之後可以可以了解Python資料型態, 資料結構, 函式, 物件導向等等, 並利用Python開發軟體。</p>
            <h4>4. &nbsp哪些人適合這堂課</h4>
            <p>1. &nbsp想學程式卻不知道該從什麼語言入門的人，選擇Python就對了</p>
            <p>2. &nbsp已經學過其他程式語言，想學習Python的人</p>
            <p>3. &nbsp對網站或資料分析有興趣，但不知道用什麼語言實作</p>

            <h3>課程募資</h3>
            <p>快來一起加入我們吧!</p>
            <a href="" target="_blank" class="btn btn-info btn-raised btn-lg">
                <i class="fa fa-rocket"></i> 立即加入課程募資!
            </a>

        </div>    
    </div>
        
    </div>

    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="">
                            Pycone
                        </a>
                    </li>
                    <li>
                        <a href="">
                            關於我們
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; <script>document.write(new Date().getFullYear())</script> Pycone
            </div>
        </div>
    </footer>

    <!--   Core JS Files   -->
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/js/material.min.js"></script>

    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../static/js/nouislider.min.js" type="text/javascript"></script>

    <!--    Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="../static/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!--    Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
    <script src="../static/js/jquery.dropdown.js" type="text/javascript"></script>

    <!--    Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="../static/js/jquery.tagsinput.js"></script>

    <!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../static/js/jasny-bootstrap.min.js"></script>

    <!-- Plugin For Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="../static/js/material-kit.js" type="text/javascript"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83054846-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>