<!doctype html>
<html lang="en">
<head>
<title>Pycone松果城市</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <meta name="description" content="Pycone提供最完整的pyhton線上課程">
    <meta name="keywords" content="Pycone,pycone,松果城市,松果程式,python課程,python教學,python blog,程式教學,線上教學,線上課程,django,網站後台,機器學習,網頁爬蟲,自然語言處理,資料分析,資料科學,教學">
    <meta name="author" content="Hubert">

    <!-- Open graph markup --> 
    <meta property="og:url" content="http://www.pycone.com/blogs/python-data-science-tutorial-1" />
    <meta property="og:type" content="article" />
    <meta property="og:title"  content="最有趣的Python資料科學教學" />
    <meta property="og:description" content="給初學者的 Python 網頁爬蟲與資料分析" />
    <meta property="og:image" content="http://www.pycone.com/static/images/python_crawler.png" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />

    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/material-kit.css" rel="stylesheet"/>

</head>

<body class="blog-post">
    <nav class="navbar navbar-danger navbar-transparent navbar-absolute">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Pycone松果城市</a>
            </div>
            <!-- material-icons https://design.google.com/icons/#ic_android -->
            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/courses">
                            <i class="material-icons">assignment</i> 課程
                        </a>
                    </li>

                    <li>
                        <a href="/blogs">
                            <i class="material-icons">pets</i>
                            部落格
                        </a>
                    </li>

                    <li>
                        <a href="/qa">
                            <i class="material-icons">question_answer</i>
                            問與答
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="active" style="background-image: url('../static/images/165HH.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">最有趣的Python資料科學教學</h1>
                    <h4>一起來學習Python吧!</h4>
                    <a href="https://hahow.in/cr/python-for-beginners" target="_blank" class="btn btn-info btn-raised btn-lg">
                        <i class="fa fa-rocket"></i> 立即加入課程!
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="section section-text">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">給初學者的 Python 網頁爬蟲與資料分析 (2) 套件安裝與啟動網頁爬蟲</h2>
                        <h3>PTT Beauty 板今日圖片下載器</h3>
                        <p>PTT Beauty 板今日圖片下載器，會把表特板今天所有文章的圖片下載到本機端，同時儲存一些文章資訊。本系列文章藉由會實作這個範例，說明 Python 網頁爬蟲與資料分析的入門技巧。
                        <br/>
                        <h3>套件安裝</h3>
                        <p>首先請確定你的電腦已經安裝 Python 3 以及 pip (本文使用的環境是 Python 3.5.2 與 pip 9.0.1)</p>
                        <script src="https://gist.github.com/behappycc/e4ea3f19dea3b11e4ecd231d8b02909d.js"></script>
                        <br/>
                        <p>接著安裝所需套件，你可以依照 `requirement.txt` 中所列的套件一一安裝，也可以一次全部安裝</p>
                        <script src="https://gist.github.com/behappycc/db8a0b26051d4fcf3014632b32c2f6d2.js"></script>
                        <p>接著在命令列輸入以下指令，若沒有任何訊息出現則代表套件安裝成功</p>
                        <script src="https://gist.github.com/behappycc/430f7e693b78d359a8853468e56dbf5d.js"></script>
                        <br/>
                        <h3>與網站 Server 溝通並取得網頁資料</h3>
                        <p>PTT Web 版 Beauty 板首頁 https://www.ptt.cc/bbs/Beauty/index.html 在瀏覽器看起來是這樣的</p>
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161220-python-ds-tutorial-2-1.png">
                        <br/>

                        <p>要透過 Python 取得該頁資料，我們使用 <mark>requests</mark> 套件的 <mark>requests.get()</mark> 方法, 首先定義 <mark>get_web_page()</mark>函式
                        </p>
                        <script src="https://gist.github.com/behappycc/ae8e3a093e470974b160bf7f6d0f6cf1.js"></script>

                        <p><mark>requests.get()</mark> 需要提供網址作為引數, 而 <mark>cookies={'over18': '1'}</mark> 是 PTT 網站有些板會詢問你是否已滿 18 歲, 因此將回答先存在 cookie 中一併傳給 server. <mark>requests.get()</mark> 的結果是 <mark>request.Response</mark> 物件, 我們可以先透過該物件的 <mark>statu_code</mark> 屬性取得 server 回覆的狀態碼 (例如 200 表示正常, 404 表示找不到網頁等), 若狀態碼為 200, 代表正常回應, 再透過 <mark>text</mark>屬性取得 server 回覆的網頁內容. 若狀態碼異常則回覆 None.</p>
                        <p>定義好 <mark>get_web_page()</mark> 函式之後, 就能呼叫它來取得網頁內容:</p>

                        <script src="https://gist.github.com/behappycc/9bf092cf87e403cfb5e8c8d17afdfabc.js"></script>

                        <p>結果為</p>
                        <script src="https://gist.github.com/behappycc/27cb40965a8eb463c9842c3cdf252f28.js"></script>

                        <p>回傳的內容的確是瀏覽器所看到的內容，而且以第一篇貼文為例，我們可以看到它包含了推文數、文章連結、文章標題、貼文日期等我們所需要的資訊。下一篇文章會說明如何使用 BeautifulSoup 套件解構網頁內容，將資料取出。</p>

                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/python-data-science-tutorial/161220-python-ds-tutorial-2-2.png">
                        <br/>

                        <blockquote>
                            <p>
                                “Happy coding.”
                            </p>
                            <p>
                                文章也同步刊登在<a href="http://blog.castman.net/%E6%95%99%E5%AD%B8/2016/12/20/python-data-science-tutorial-2.html"> Jun-Wei Lin blogs</a>
                            </p>
                        </blockquote>        
                </div>
            </div>

            <div class="section section-blog-info">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="blog-tags">
                                    Author: Jun-Wei Lin
                                    <br/><br/>
                                    Tags:
                                    <span class="label label-primary">Python</span>
                                    <span class="label label-primary">網頁爬蟲</span>
                                    <span class="label label-primary">資料分析</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="https://www.facebook.com/pycone2016/" class="btn btn-facebook btn-round pull-right">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </div>
                        </div>

                        <hr/>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-center">其他文章</h2>
                    <br />
                    <div class="row">
                    <!--
                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="../static/images/python-for-beginners.png" />
                                    </a>
                                </div>

                                <div class="content">
                                    <h6 class="category text-info">開發環境設定</h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Windows使用者</a>
                                    </h4>
                                    <p class="card-description">
                                        在Windows環境下安裝Python與Sublime Text3<a href="/blogs/win-python-environment"> <br/>Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="../static/images/python-for-beginners.png" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-success">
                                        開發環境設定
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Linux使用者</a>
                                    </h4>
                                    <p class="card-description">
                                        在Linux環境下安裝Python與Sublime Text3<a href="/blogs/linux-python-environment"> <br/>Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="">
                            Pycone
                        </a>
                    </li>
                    <li>
                        <a href="">
                            關於我們
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; <script>document.write(new Date().getFullYear())</script> Pycone
            </div>
        </div>
    </footer>

    <!--   Core JS Files   -->
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/js/material.min.js"></script>

    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../static/js/nouislider.min.js" type="text/javascript"></script>

    <!--    Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="../static/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!--    Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
    <script src="../static/js/jquery.dropdown.js" type="text/javascript"></script>

    <!--    Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="../static/js/jquery.tagsinput.js"></script>

    <!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../static/js/jasny-bootstrap.min.js"></script>

    <!-- Plugin For Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="../static/js/material-kit.js" type="text/javascript"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83054846-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
