<!doctype html>
<html lang="en">
<head>
<title>Pycone松果城市</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <meta name="description" content="Pycone提供最完整的pyhton線上課程">
    <meta name="keywords" content="Pycone,pycone,松果城市,松果程式,python課程,python教學,python blog,程式教學,線上教學,線上課程,django,網站後台,機器學習,網頁爬蟲,自然語言處理,資料分析,資料科學">
    <meta name="author" content="Hubert">

    <!-- Open graph markup --> 
    <meta property="og:url" content="http://www.pycone.com/courses/python-for-beginners" />
    <meta property="og:type" content="article" />
    <meta property="og:title"  content="最有趣的Python線上課程" />
    <meta property="og:description" content="初心者 - python入門" />
    <meta property="og:image" content="http://www.pycone.com/static/images/python-for-beginners.png" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />

    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/material-kit.css" rel="stylesheet"/>

</head>

<body class="blog-post">
	<nav class="navbar navbar-danger navbar-transparent navbar-absolute">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Pycone松果城市</a>
            </div>
            <!-- material-icons https://design.google.com/icons/#ic_android -->
            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/courses">
                            <i class="material-icons">assignment</i> 課程
                        </a>
                    </li>

                    <li>
                        <a href="/blogs">
                            <i class="material-icons">pets</i>
                            部落格
                        </a>
                    </li>

                    <li>
                        <a href="/qa">
                            <i class="material-icons">question_answer</i>
                            問與答
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

	<div class="page-header header-filter" data-parallax="active" style="background-image: url('../static/images/165HH.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">最有趣的Python線上課程</h1>
                    <h4>一起來學習Python吧!</h4>
                    <a href="https://hahow.in/cr/python-for-beginners" target="_blank" class="btn btn-info btn-raised btn-lg">
                        <i class="fa fa-rocket"></i> 立即加入課程!
                    </a>
                </div>
            </div>
        </div>
    </div>

	<div class="main main-raised">
		<div class="container">
            <div class="section section-text">
                <div class="row">
    				<div class="col-md-8 col-md-offset-2">
        				<h3 class="title">安裝Sublime Text3套件Anaconda</h3>
    					<p>這篇文章會教大家安裝Anaconda套件在Sublime text3上面使其變成Python IDE，並介紹Anaconda好用的功能來幫助大家更快速方便的撰寫Python程式
						<br/><br/>
                        Sublime text可以幫你處理Python要求的縮排問題，也可以幫你檢查你的語法是否有錯，它也可以幫你自動補完剩下的字，不過對一個程式開法者來說還不夠方便, 例如要快速找到程式中函式定義的等等, Anaconda套件是個不錯的選擇來增強Sublime text的功能
						<br/><br/>
						我們來看看要怎麼安裝Anaconda這個套件吧，還記的之前有教過的Sublime text有它自己的套件管理系統嗎，那就是Package Control，我們可以利用Ctrl + Shift + P來開啟這個套件管理系統，接著我們輸入install，並且按下第一個的Install Package，在這裡我們就可以安裝我們想要的Sublime text3的套件了喔，而我們現在要安裝的套件就是Anaconda，稍微等一下，這樣就可以看到Anaconda已經安裝完成了喔
                        <br/><br/>
                        Anaconda有支援Autocomplete，也就是自動補齊、自動幫你打完字的的功能，也有Linting，也就是語法檢測的功能, 與點擊變數或是函式右鍵，就可以快速前往其定義的功能，有了這些額外新增加的功能之後，再搭配上原本Sublime text本身有的功能，在開發Python上面應該是已經綽綽有餘了
						</p>

					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/1.png">
						</div>
					</div>

					<div class="col-md-8 col-md-offset-2">
						<p>Anaconda提供我個人覺得非常好用的功能就是Goto Definition，這可以讓你在寫程式的時候，一旦看到不太了解的類別或是函式，就可以跳到它的定義去，去看看他的實作，是個很好用的功能</p>
					</div>

                    <div class="col-md-8 col-md-offset-2">
                        <script src="https://gist.github.com/behappycc/0f8240146b64cba1b4a4913f716b86bd.js"></script>
                    </div>

                    <div class="col-md-8 col-md-offset-2">
                        <script src="https://gist.github.com/behappycc/88d5e9a3ee8a4e1355cc3922e23e18c9.js"></script>
                    </div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/2.png">
						</div>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/3.png">
						</div>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/4.png">
						</div>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/5.png">
						</div>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/6.png">
						</div>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/7.png">
						</div>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/8.png">
						</div>
					</div>

					<div class="col-md-8 col-md-offset-2">
						<p>Anaconda在你要定義類別的時候，它會自動地幫你補完一個類別的定義的程式碼，你可以很快地就定義完成一個類別了喔</p>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/9.png">
						</div>
					</div>

					<div class="col-md-8 col-md-offset-2">
						<p>另外模組的import也簡單很多，比方說我這邊想要從我的另外一個.py檔案去import一個類別的話，我就可以寫說from xmlParser import WeatherXMLParser，它還可以幫我檢查有哪些東西可以import並且列出來，也算是一個不錯的小功能了</p>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/10.png">
						</div>
					</div>

                    <div class="col-md-8 col-md-offset-2">
                        <p>可以看docstring, 可以馬上看到一個class的用法</p>
                    </div>

                    <div class="col-md-8 col-md-offset-2">
                        <p>Find usage也是可以快速找到說這個class or function是誰用的</p>
                    </div>

                    <div class="col-md-8 col-md-offset-2">
                        <p>Auto Complete, 之前很麻煩的東西就可以快速幫你找出function啦, 當然產生出來後也可以用show doc去看他這個function的定義, go detinition直接去找這個function的出處</p>
                    </div>

					<div class="col-md-8 col-md-offset-2">
						<p>還記得我們剛剛提到的Linting的功能嗎，也就是語法檢測，那些白色框框就是我們在安裝了anaconda之後，anaconda linting使用PEP8的規則來看我們的程式碼當中不符合PEP8規則的地方，PEP8是一個Python官方提出來的Python coding style，不過不符合coding style的話也沒關係，程式還是可以正常運行的，所以如果你想要消掉這些白色框框的話，你可以右鍵，選擇anaconda裡面的autoformat PEP8 errors，他就會試圖自動地幫你把程式碼按照PEP8的風格來寫，可以看到白色框框消除了很多，不過可能有些地方他沒有辦法自動完成，那麼你就需要自己手動地去看看他是不符合哪一條規則，然後手動的修改才行了，那如果你想要關掉這個anaconda的linting的話，我們一樣是去Preferences裡面Package settings，anaconda，default，我們先開啟雙column，在這邊再開啟user的設定，那user的設定一開始是空的，default這裡有許多原本已經有的設定，建議大家不要直接改這個檔案，如果要改設定的話，就去user的setting裡面修改，那我個人的設定的話是這樣子的，記得要存檔，首先我把anaconda的linting功能關掉了，這樣原本那些白色框框就都不見了，再來我開啟了一些自動完成的功能，這樣我在打函式的時候它可以自動地幫我把參數給輸入進去，另外，我也關掉了function的signatures，這個開啟的話，它會在你打函式的時候，有一個popup的小視窗，提示你這個函式的來源跟輸入的參數，我個人覺得不需要，所以把它關掉了，這些設定沒有絕對，完全就是看同學們覺得那些功能有用就把它打開，那些功能沒用就把它關掉</p>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/11.png">
						</div>
					</div>

					<div class="col-md-8 col-md-offset-2">
						<p>而如果你想看詳細一點的功能說明的話，在default這個檔案裡面都有說明，你可以利用Ctrl + F去搜尋你想要的關鍵字，只是這裡的字有點多，需要一點耐心喔</p>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/12.png">
						</div>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/13.png">
						</div>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/14.png">
						</div>
					</div>

					<div class="col-md-8 col-md-offset-2">
						<p>自動帶入function需要輸入</p>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/15.png">
						</div>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-12">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../static/images/blogs/mac-python-environment/16.png">
						</div>
					</div>

					<div class="col-md-8 col-md-offset-2">
						<p>
							這篇文章教大家如何在Sublime text3上面安裝Anaconda套件，Anaconda的功能其實遠遠不只我剛剛教的那些，它們都還有很多更深入的功能等著各位去發掘，有興趣的同學們可以自行去玩玩看，之後會介紹更多Python IDE來讓大家認識!
						</p>
						<blockquote>
							<p>
								“Happy coding.”
							</p>
						</blockquote>
    				</div>			
				</div>
			</div>

			<div class="section section-blog-info">
                <div class="row">
					<div class="col-md-8 col-md-offset-2">

						<div class="row">
							<div class="col-md-6">
								<div class="blog-tags">
									Tags:
									<span class="label label-primary">Python</span>
									<span class="label label-primary">Sublime</span>
									<span class="label label-primary">Anaconda</span>
                                    <span class="label label-primary">IDE</span>
								</div>
							</div>
							<div class="col-md-6">
								<a href="https://www.facebook.com/pycone2016/" class="btn btn-facebook btn-round pull-right">
									<i class="fa fa-facebook-square"></i>
								</a>
							</div>
						</div>

						<hr/>

					</div>
    			</div>
            </div>
        </div>
    </div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="title text-center">其他文章</h2>
					<br />
					<div class="row">
                    <!--
						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="../static/images/python-for-beginners.png" />
									</a>
								</div>

								<div class="content">
									<h6 class="category text-info">開發環境設定</h6>
									<h4 class="card-title">
										<a href="#pablo">Windows使用者</a>
									</h4>
									<p class="card-description">
										在Windows環境下安裝Python與Sublime Text3<a href="/blogs/win-python-environment"> <br/>Read More </a>
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="../static/images/python-for-beginners.png" />
									</a>
								</div>
								<div class="content">
									<h6 class="category text-success">
										開發環境設定
									</h6>
									<h4 class="card-title">
										<a href="#pablo">Linux使用者</a>
									</h4>
									<p class="card-description">
										在Linux環境下安裝Python與Sublime Text3<a href="/blogs/linux-python-environment"> <br/>Read More </a>
									</p>
								</div>
							</div>
						</div>
                        -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="">
                            Pycone
                        </a>
                    </li>
                    <li>
                        <a href="">
                            關於我們
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; <script>document.write(new Date().getFullYear())</script> Pycone
            </div>
        </div>
    </footer>

	<!--   Core JS Files   -->
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/js/material.min.js"></script>

    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../static/js/nouislider.min.js" type="text/javascript"></script>

    <!--    Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="../static/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!--    Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
    <script src="../static/js/jquery.dropdown.js" type="text/javascript"></script>

    <!--    Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="../static/js/jquery.tagsinput.js"></script>

    <!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../static/js/jasny-bootstrap.min.js"></script>

    <!-- Plugin For Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="../static/js/material-kit.js" type="text/javascript"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83054846-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
